@import 'src/styles/typography';

.root {
  &.button,
  &.text {
    display: flex;
    margin-bottom: var(--size-12px);

    &.large {
      height: var(--size-56px);
      padding: var(--size-8px) var(--size-36px);
    }

    &.medium {
      height: var(--size-36px);
      padding: var(--size-4px) var(--size-20px);
    }

    @include ui-light;
  }

  &.button {
    background-color: var(--color-button-primary);
  }

  &.text {
    background-color: transparent;
  }

  &.disabled {
    &.button {
      color: var(--color-text-secondary);
      background-color: var(--color-button-primary-disabled);
    }

    &.text {
      color: var(--color-text-secondary);
      background-color: transparent;
    }
  }

  &:hover {
    &.button {
      background-color: var(--color-button-primary-hover);
    }

    &.text {
      background-color: var(--color-button-ghost-hover);
    }
  }
}
