@import 'src/styles/typography';

.root {
  margin-bottom: 12px;

  &.button,
  &.text {
    height: var(--size-56px);
    padding: var(--size-8px) var(--size-36px);

    @include ui-light;
  }

  &.button {
    background-color: var(--color-button-primary);
  }

  &.text {
    background-color: transparent;
  }

  &.disabled {
    color: var(--color-text-secondary);

    &.button {
      background-color: var(--color-button-primary-disabled);
    }

    &.text {
      background-color: transparent;
    }
  }

  &:hover {
    &.button {
      background-color: var(--color-button-primary-hover);
    }

    &.text {
      background-color: var(--color-button-ghost-hover);
    }
  }
}
