:root {
  --color-text-primary: #fff;
  --color-text-secondary: #aaabb8;
  --color-text-dark: #464866;
  --color-text-info: #2e9cca;

  --color-backgroud: #25274d;

  --color-button-primary: #464866;
  --color-button-primary-hover: #404367;
  --color-button-primary-disabled: #343652;
  --color-button-ghost-hover: rgb(52 54 82 / 25%);

  --color-input: #aaabb8;
  --color-input-hover: #fff;
  --color-input-focus: #2e9cca;
  --color-input-error: #e9411c;

  --color-error: #e9411c;

  --color-icon-primary: #fff;
  --color-icon-secondary: #aaabb8;

  --color-active-tab: #2e9cca;
  --color-tab-divider: #d9d9d9;
  --color-vertical-tab: #464866;
  --color-vertical-tab-active: #696b8a;

  --color-divider: #d9d9d9;

  --color-card: #464866;

  --shadow-card: 0px 4px 8px 4px rgb(255 255 255 / 25%);
}
